
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0, auto;
  padding: 0;
}
td{
  padding: 0px 32px;
}

.tdImg {
  padding: 0;
}
